<?xml version="1.0"?>
<robot>

  <material name="BOT/black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>

  <material name="BOT/blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>

  <material name="BOT/green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>

  <material name="BOT/grey">
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>

  <material name="BOT/orange">
    <color rgba="${255/255} ${108/255} ${10/255} 1.0"/>
  </material>

  <material name="BOT/brown">
    <color rgba="${222/255} ${207/255} ${195/255} 1.0"/>
  </material>

  <material name="BOT/red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>

  <material name="BOT/white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

</robot>
